#blogImage{
  width: 100%;
  height: 350px;
  object-fit: cover;
  
}

#continue-reading-btn{
  background-color: orange;
  margin-top: 0.2rem;
  margin:20px;
  cursor: pointer;
}

#previewText{
  margin: 20px;;
}

#blogTitle{
  margin: 20px;
}