#blogImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#previewText {
  margin-top: 25px;
  letter-spacing: 0.2;
  line-height: 140%;
}

#blogLoggIn {
  position: relative;
  float: right;
  text-align: right;
  left: 265px;
  top: 245px;
}

.blogLoggedIn {
  position: relative;
  float: right;
  text-align: right;
  left: 10px;
  top: 10px;
}

#blogTopTitle {
  margin-top: -221px;
}

.formMakeAPost {
  resize: none;
}

#buttonBlog {
  color: #fff;
  cursor: pointer;
  height: 35px;
  margin-bottom: 120px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
}
