#blogImage{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#continue-reading-btn{
  background-color: #9CA77C;
  color: #fff;
  cursor: pointer;
  height: 35px;
  margin: 20px;
  margin-top: -0.2rem;
}

#previewText{
  margin: 20px;
}

#blogTitle{
  margin: 20px;
}

#blogLoggIn{
position: relative;
float: right;
text-align: right;
left: 280px;
}