#replyBox{
  width: 400px;
  height: 150px;
  padding-top: 0;
  padding-bottom: 0;
  resize: none;
}

#nameBox{
width: 200px;
}

#emailBox{
width: 200px;
}

#bloggImage{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#blogPostText{
  margin-top: 15px;
  margin-bottom: 50px;
  letter-spacing: 0.2;
  line-height: 140%;
}