.title{
  text-align: center;
}

.line{
  border: 1.0px solid black;
}

.right-column{
  color: black;
}

#message{
  height: 8rem;
  resize: vertical;
}

.contactForm{
  text-align: right;
 margin-right: -15rem;
 margin-top: -55rem;
 margin-bottom: 53rem;
}

