.title {
  text-align: center;
}

.line {
  border: 1px solid black;
}

.right-column {
  color: black;
}

#message {
  height: 8rem;
  width: 200px;
}

textarea{
  border-radius: 10px;
  resize: vertical;
}

#contact-container {
  display: grid;
  grid-gap: 40px;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--Light-shades);
}