#header-logo {
  float: left;
  margin-left: 20px;
  width: 42px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background-color: var(--Light-shades);
}

.header{
  grid-area: header;
  background-color: var(--Dark-shades);
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}

#navbar{
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -310px;
  font-size: 2rem;
  margin-bottom: 20px;
}

#navbar a:hover{
color:var(--Dark-accent);
}

#navbar ul{
  display: block;
  height: 50px;
  width: 620px;
  list-style-type:none;
}

#navbar ul li{

  float: left;
  display: block;
  margin: 0 15px 0 0;
}

#navbar ul a {
  text-decoration: none;
}

#navbar a{
  color: var(--Light-shades);
 
}

.checkbtn{
position: relative;
float: right;
font-size: 80px;
color: var(--Light-shades);
margin-right: 20px;
cursor: pointer;
display: none;
}

#check{
  display: none;
}

#headerText{
  font-family: 'Nunito Sans', sans-serif;
}