#header-logo {
  float: left;
  margin-left: 20px;
  width: 80px;
  border-radius: 10px;
  margin: 20px;
}

.header{
  grid-area: header;
  background-color: var(--Dark-shades);
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}

#navbar{
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 2rem;
  margin-bottom: 20px;
}

#navbar a:hover{
color:var(--Dark-accent);
}

#navbar ul{
  display: block;
  height: 50px;
  width: 600px;
  list-style-type:none;
}

#navbar ul li{

  float: left;
  display: block;
  margin: 0 10px 0 0;
}

#navbar ul a {
  text-decoration: none;
}

#navbar a{
  color: var(--Light-shades);
 
}