.adress {
  position: relative;
  float: left;
}

.price {
  position: relative;
  float: right;
}

#img-collage-house {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 380px 400px;
  grid-template-areas:
    "sml-1 sml-1 mdm-img"
    "brd-img brd-img mdm-img";
}

#medium-img-container {
  grid-area: mdm-img;
}

#broad-img-container {
  grid-area: brd-img;
}

#img-container {
  grid-area: sml-1;
}

#img1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#medium-img-house {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#broad-img-house {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.factsLine {
  margin: 20px;
  border: 0.8px solid black;
  margin-bottom: 50px;
  margin-top: 50px;
}

#houseText {
  margin-bottom: 100px;
  letter-spacing: 0.2;
  line-height: 120%;
}

#houseTextTitle {
  text-align: center;
}

#obj-header-img{
  position: absolute;
  width: 100%;
  min-width: 1366px;
  height: 400px;
  object-fit: cover;
  top: 115px;
  left: 0;
}

#obj-collage{
  float: left;
  position: relative;

}

#adress{
  margin: 20px;
  font-size: 2rem;
}

#price{

}

#obj-information{
  color: var(--Light-shades);
  background-color: var(--Dark-shades);
  border-radius: 10px;
}

#description-bar{
  top: 20px;
}

@media screen and (max-width: 375px) {
  #obj-header-img{
    min-width: 100%;
    height: 240px;
  }
}