.landing-page {
  background-color: var(--Ligh-accent);
}

h2 {
  margin: 20px;
}

p {
  font-family: "Cabin", sans-serif;
}

#discover-text h1,
p,
button {
  margin: 20px;
}

.landing-article {
  background-color: var(--Dark-shades);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.5);
}

.landing-section {
  background-color: var(--Light-shades);
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}
