@media screen and (max-width: 375px) {
  html,
  body {
    min-width: 375px;
    max-width: 375px;
    padding: 0px;
    overflow-x: hidden;
  }

  .container {
    grid-template-columns: 375px;
    grid-template-areas:
      "header"
      "topImage"
      "main"
      "footer";
  }

  #familyMoving {
    width: 80%;
  }

  #serviceLogos {
    grid-template-columns: 375px;
    grid-template-rows: 1fr 1fr;
  }

  #articles-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
  }

  #houselist-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }

  #articles-img {
    height: 200px;
    object-fit: cover;
    border-radius: 0;
  }
  
  #service-img{
    height: 200px;
    border-radius: 0;
    object-fit: cover;
  }

  #blogLoggIn {
    left: 0px;
  }

  #footer {
    height: 570px;
    margin-bottom: -100px;
  }

  #footer-content {
    top: 60px;
    height: 420px;
  }

  #footer-logo {
    bottom: 20px;
    margin-left: 130px;
    width: 40px;
  }

  #social-media {
    bottom: 0px;
    margin-left: 70px;
    margin-top: 230px;
  }

  .footer-icon {
    height: 40px;
  }

  #footer-content h1 {
    font-size: 1rem;
    bottom: 40px;
  }

  #footer-content p {
    bottom: 300px;
    margin-left: 70px;
    float: none;
    width: 240px;
  }

  #footer-line {
    display: none;
  }

  #banner {
    height: 300px;
  }

  .topImage {
    height: 300px;
  }

  #discover {
    width: 100%;
    border-radius: 10px;
  }

  #discover-img {
    width: 100%;
    border-radius: 0px;
  }

  #discover-text {
    width: 100%;
    float: none;
  }

  #img-collage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
      "sml-1 sml-2"
      "brd-img brd-img"
      "mdm-img mdm-img";
  }

  .checkbtn {
    display: block;
  }

  #navbar {
    position: relative;
    left: 0%;
    font-size: 1rem;
    margin-bottom: 0px;
  }

  #navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--Dark-shades);
    top: 96px;

    right: -150%;
    transition: all 0.5s;
  }
  .header{
    position: fixed;
  }

  nav ul li {
    position: relative;
    font-size: 2rem;
    text-align: center;
    height: 50px;
    width: 100%;
  }
  #navbar a:hover {
    color: var(--Dark-shades);
  }
  nav ul li:hover {
    background-color: var(--Dark-accent);
  }
  nav ul li:focus {
    background-color: black;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .landing-article {
    border-radius: 0px;
  }
  
  .landing-section {
    border-radius: 0px;
  }

  #discover-img {
    border-radius: 0px;
  }

  #discover {
    border-radius: 0px;
  }

  #img-collage{
    border-radius: 0px;
  }


  #discoverCareer {
    margin-top: 40px;
    height: 540px;
    border-radius: 0px;
    margin-bottom: 40px;
  }
  
  #discover-career-img {
    width: 100%;
    border-radius: 0px;
  }
  
  #discover-career-text {
    width: 100%;
  }
  
  #career-title {
    margin: 20px;
  }

  .searchBar {
    left: 15%;
    width: 100px;
  }

  #obj-header-img{
    min-width: 100%;
    height: 240px;
  }
  
  #img-collage-house {
    grid-template-columns: 1fr;
    grid-template-rows: 380px 400px 400px 300px;
    grid-template-areas:
      "sml-1"
      "brd-img"
      "mdm-img";
  }
  
  #img1 {
    border-radius: 0px;
    width: 375px;
  }
  
  #medium-img-house {
    border-radius: 0px;
    width: 375px;
  }
  
  #broad-img-house {
    border-radius: 0px;
    width: 375px;
  }
  
  
  
  #houseTextTitle {
    position: relative;
    text-align: center;
  }
  
  #obj-collage{
    top: 297px;
    position: relative;
  }

  .collage-design{
    border-radius: 0px;
  }
  
  #adress{
    font-size: 1.5rem;
    position: absolute;
    top: 310px;
    float: left;
  }
  
  #price{
    position: absolute;
    top: 400px;
    float: left;
    left: 0;
  }
  
  #obj-information{
    width: 100%;
    border-radius: 0px;
    margin-top: -20px;
  }
  
  #obj-information p {
    position: relative;
    width: 140px;
    top: -180px;
    font-size: 1.5rem;
  }

  #houseText {
    position: relative;

  }
  #description-bar{
    position: relative;
  }

  .cForm {
    position: relative;
    width: 100%;
    float: left;
    top: 320px;
    left: 0px;
    border-radius: 0px;
    box-shadow: none;
  }
  
  #view-input{
  margin: 0 20px 0;
  }
  
  #view-text{
    float: left;
    margin: 0px;
  }

  #view-title{
    float: left;
  }

}
