.title{
  text-align: center;
}

.serviceLogos{
  text-align: center;
}

#logoDesign{
  border: 1px solid black;
  background-color: rgb(151, 114, 185);
  width:150px;
  margin-right: 3rem;
  margin-bottom: 4rem;
}

.line{
  margin:20px;
}

#familyMoving{
  margin-left: 1.5rem;
  width: auto; 
  height: 500px;
}

#blogImage{
  visibility: hidden;
}