.cForm {
  color: var(--Light-shades);
  background-color: var(--Dark-shades);
  position: relative;
  float: right;
  left: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}

#view-input{
margin: 0 10px 0;
}

#view-btn{
  float: left;
}

#view-text{
  margin: 10px;
}

#view-title{

}