@import "./stylesheets/Footer.css";
@import "./stylesheets/Header.css";
@import "./stylesheets/About.css";
@import "./stylesheets/BlogPost.css";
@import "./stylesheets/Buy.css";
@import "./stylesheets/Contact.css";
@import "./stylesheets/GridContainer.css";
@import "./stylesheets/LandingPage.css";
@import "./stylesheets/LeftColumn.css";
@import "./stylesheets/RightColumn.css";
@import "./stylesheets/Services.css";
@import "./stylesheets/TopImage.css";
@import "./stylesheets/Main.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  min-width: 1366px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
