body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  min-width: 1366px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;

  grid-auto-rows: minmax(100px, auto);

  grid-template-areas:
    "header header header"
    "topImage topImage topImage"
    "left-column main right-column"
    "footer footer footer";
}

#tempDesign {
  background-color: cadetblue;
  border: 1px solid black;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;

  width: 100%;

  background-color: blue;
  color: white;
}

a .header {
  color: white;
}

a:visited {
  color: white;
}

.left-column {
  background-color:whitesmoke;
  grid-area: left-column;
}

.right-column {
  background-color:whitesmoke;
  grid-area: right-column;
}

.main {
  grid-area: main;
  min-width: 400px;
  padding: 10px;
}

.topImage {
  grid-area: topImage;
  height: 300px;
}

#banner{
  width: 100%;
  height: 300px;
  background-image: url('./components/Pictures/TempHeader.jpg');
  background-size: cover;
  background-position: 50% 60%;
}

